.time {
  position: absolute;
  right: 10px;
  top: 10px;
  color: lightgray;
  margin: 0;
  padding: 0;
}

#seconds {
  position: absolute;
  right: 1px;
  top: 13px;
  color: gray;
  font-size: 0.5em;
  margin: 0;
  padding: 0;
}

.rotate {

/* Safari */
-webkit-transform: rotate(-90deg);

/* Firefox */
-moz-transform: rotate(-90deg);

/* IE */
-ms-transform: rotate(-90deg);

/* Opera */
-o-transform: rotate(-90deg);

/* Internet Explorer */
filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);

}
